@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
/* fonts */
$head_font: 'Love Ya Like A Sister', cursive;
$body_font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


/* colors */
$primary_color: #7A45FF;
$pm_text_color: #6a5d53;
$heading_color: #615f5f;
$main_dark: #000;
$main_light: #F8F9FA;


/* size */
$size_xlg: 130px;
$size_lg: 90px;
$size_md: 70px;
$size_sm: 60px;
$size_text_lg: 24px;
$size_link: 14px;